@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"],select,input[type="number"],input[type="submit"]{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #37ff00;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: blue;  
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th{
    background-color: #37ff00;
    color: white;
}
